.logo{
  margin-left: 5px;
  margin-top: 10px;
}

.img_contenido{
  width: 100%;
}

.borde{
  border: 1px solid orange;
  border-radius: 5px;
}

.margen5{
  margin-top: 5px;
}

h5{
  font-weight: bold;
}

.fecha{
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

p{
  color: white;
}

.img_articulo{
  width: 100%;
  margin: 0px;
  padding: 0px;
}

#imagenAutor{
    border-radius: 50% !important;
}

body{
  background-image:url(../images/11.jpg);
  background-position:center top;
  background-repeat:no-repeat;
  background-attachment: fixed;
}
